$color-losat:#082575;
$color-primario: #3d9970;
$Color-control-disabled: #e9ecef;
$color-red: #dd5a43;
.text-write {
  color: #337ab7 !important;
}
.text-label-form {
  color: #5a5a5a;
}
.red {
  color: $color-red !important;
}
.red2 {
  color: #e08374 !important;
}
.light-red {
  color: #f77 !important;
}
.blue {
  color: #478fca !important;
}
.blue2 {
  color: #31708f !important;
}
.azul-marino {
  color: #0033cc !important;
}
.text-color-losat {
  color: #082575;
}
.light-blue {
  color: #93cbf9 !important;
}
.green {
  color: #69aa46 !important;
}
.light-green {
  color: #b0d877 !important;
}
.green2 {
  color: #00897b !important;
}
.green3 {
  color: #00463f !important;
}
.orange {
  color: #ff892a !important;
}
.orange2 {
  color: #feb902 !important;
}
.light-orange {
  color: #fcac6f !important;
}
.cafe-oscuro {
  color: #73480d !important;
}
.purple {
  color: #a069c3 !important;
}
.pink {
  color: #c6699f !important;
}
.pink2 {
  color: #d6487e !important;
}
.tinto {
  color: brown !important;
}
.grey {
  color: #777 !important;
}
.light-grey {
  color: #bbb !important;
}

.grey-fort {
  color: #363635 !important;
}

.azul-indicador {
  color: #3262ca;
}

.rosa-indicador {
  color: #d6487e;
}

.verde-indicador {
  color: #27a072;
}

.verde-neon {
  color: #20c997;
}
.gray-dark {
  color: #545454;
}

.bg-sin-reportar-nivel1 {
  background-color: #f2f5a9;
}
.bg-sin-reportar-nivel2 {
  background-color: #f3f781;
}
.bg-sin-reportar-nivel3 {
  background-color: #e7ba32;
}
.bg-sin-reportar-nivel4 {
  background-color: #f8784a;
}
.bg-sin-reportar-nivel5 {
  background-color: #e65757;
}
.purple-disabled{
  color: #A285D7;
}
.cyan-fort{
  color: #01ebff;
}
.green-disabled{
  color: #bce0c3;
}
.text-cantidad{
  color: #00CCFF;
}
.text-pink-brillante{
  color: #FF80AF;
}